In [1]:
# %load ../standard_import.txt
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Where to save the figures
PROJECT_ROOT_DIR = "/Users/daniel421/Desktop/STAT_724/ds_724/Final_Project"
# CHAPTER_ID = "dim_reduction"
# IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)
# os.makedirs(IMAGES_PATH, exist_ok=True)

In [83]:
import os
#UP_DIR = '/Users/daniel421/Desktop/STAT_724/ISLR_data'
csv_file = os.path.join(PROJECT_ROOT_DIR,'listings_2.csv')
abnb = pd.read_csv(csv_file, low_memory=False)
abnb.head()

,id,last_scraped,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2595,11/3/21,Skylit Midtown Castle,2845,9/9/08,"New York, New York, United States",a few days or more,35%,18%,f,...,4.79,4.86,4.41,NaN,f,3,3,0,0,0.33
1,3831,11/3/21,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,12/7/08,"New York, New York, United States",a few days or more,21%,76%,f,...,4.81,4.72,4.65,NaN,f,1,1,0,0,4.91
2,5121,11/3/21,BlissArtsSpace!,7356,2/3/09,"New York, New York, United States",within a few hours,100%,100%,f,...,4.91,4.47,4.52,NaN,f,2,0,2,0,0.53
3,5136,11/3/21,"Spacious Brooklyn Duplex, Patio + Garden",7378,2/3/09,"Brooklyn, New York, United States",within a day,100%,25%,f,...,5.00,4.50,5.00,NaN,f,1,1,0,0,0.02
4,5178,11/3/21,Large Furnished Room Near B'way,8967,3/3/09,"New York, New York, United States",within a few hours,100%,100%,f,...,4.41,4.87,4.35,NaN,f,1,0,1,0,3.70

In [56]:
# abnb['host_is_superhost2'] = (abnb['host_is_superhost'] == 't').astype('int')

In [84]:
abnb['host_is_superhost2'] = (abnb['host_is_superhost'] == 't').astype('int')
abnb['host_identity_verified2'] = (abnb['host_identity_verified'] == 't').astype('int')
abnb['has_availability2'] = (abnb['has_availability'] == 't').astype('int')
abnb['instant_bookable2'] = (abnb['instant_bookable'] == 't').astype('int')
abnb = pd.get_dummies(abnb, columns = ['room_type'], prefix = "dmy", prefix_sep = "_", drop_first = True)
#abnb['room_type2'] = (abnb['room_type'] == 'Entire home/apt').astype('int')

In [77]:
abnb.head()

,id,last_scraped,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,...,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,host_is_superhost2,host_identity_verified2,has_availability2,instant_bookable2,dmy_Hotel room,dmy_Private room,dmy_Shared room
0,2595,11/3/21,Skylit Midtown Castle,2845,9/9/08,"New York, New York, United States",a few days or more,35%,18%,f,...,0,0,0.33,0,1,1,0,0,0,0
1,3831,11/3/21,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,12/7/08,"New York, New York, United States",a few days or more,21%,76%,f,...,0,0,4.91,0,1,1,0,0,0,0
2,5121,11/3/21,BlissArtsSpace!,7356,2/3/09,"New York, New York, United States",within a few hours,100%,100%,f,...,2,0,0.53,0,1,1,0,0,1,0
3,5136,11/3/21,"Spacious Brooklyn Duplex, Patio + Garden",7378,2/3/09,"Brooklyn, New York, United States",within a day,100%,25%,f,...,0,0,0.02,0,1,1,0,0,0,0
4,5178,11/3/21,Large Furnished Room Near B'way,8967,3/3/09,"New York, New York, United States",within a few hours,100%,100%,f,...,1,0,3.70,0,0,1,0,0,1,0

In [85]:
abnb['Borough'] = abnb['neighbourhood_group_cleansed']
abnb.drop(columns = ['id', 'host_id', 'name','host_since', 'host_location', 'host_response_time', 'host_is_superhost', 'host_has_profile_pic','host_neighbourhood','neighbourhood', 'neighbourhood_group_cleansed', 'property_type','bathrooms', 'bathrooms_text', 'calendar_last_scraped','last_scraped', 'first_review', 'last_review', 'license', 'host_identity_verified', 'has_availability', 'instant_bookable'], inplace= True)
abnb.dropna(axis=0, subset=['reviews_per_month'], inplace= True)
abnb.dropna(axis=0, subset=['host_response_rate'], inplace=True)

In [86]:
abnb.fillna(axis = 0, method = "ffill")

,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,neighbourhood_cleansed,latitude,longitude,accommodates,bedrooms,beds,...,calculated_host_listings_count_shared_rooms,reviews_per_month,host_is_superhost2,host_identity_verified2,has_availability2,instant_bookable2,dmy_Hotel room,dmy_Private room,dmy_Shared room,Borough
0,35%,18%,8.0,8.0,Midtown,40.753560,-73.985590,1,NaN,1.0,...,0,0.33,0,1,1,0,0,0,0,Manhattan
1,21%,76%,1.0,1.0,Bedford-Stuyvesant,40.684940,-73.957650,3,1.0,3.0,...,0,4.91,0,1,1,0,0,0,0,Brooklyn
2,100%,100%,1.0,1.0,Bedford-Stuyvesant,40.685350,-73.955120,2,1.0,1.0,...,0,0.53,0,1,1,0,0,1,0,Brooklyn
3,100%,25%,1.0,1.0,Sunset Park,40.662650,-73.994540,4,2.0,2.0,...,0,0.02,0,1,1,0,0,0,0,Brooklyn
4,100%,100%,1.0,1.0,Midtown,40.764570,-73.983170,2,1.0,1.0,...,0,3.70,0,0,1,0,0,1,0,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37505,86%,94%,1.0,1.0,Bedford-Stuyvesant,40.693199,-73.951358,4,3.0,1.0,...,0,1.00,0,1,1,1,0,1,0,Brooklyn
37539,100%,99%,2.0,2.0,Harlem,40.822200,-73.955550,2,1.0,1.0,...,0,2.00,1,1,1,1,0,1,0,Manhattan
37540,100%,99%,2.0,2.0,Harlem,40.823740,-73.954490,1,1.0,1.0,...,0,1.00,1,1,1,1,0,1,0,Manhattan
37541,100%,99%,2.0,2.0,Harlem,40.824260,-73.955750,2,1.0,1.0,...,0,1.00,1,1,1,1,0,1,0,Manhattan
37542,100%,99%,2.0,2.0,Harlem,40.824430,-73.955020,2,1.0,1.0,...,0,2.00,1,1,1,1,0,1,0,Manhattan

In [52]:
# abnb['instant_bookable'].head()

0    f
1    f
2    f
3    f
4    f
Name: instant_bookable, dtype: object

In [87]:
abnb.to_csv('listings_5.csv', index = False)

In [88]:
abnb.head()

,host_response_rate,host_acceptance_rate,host_listings_count,host_total_listings_count,neighbourhood_cleansed,latitude,longitude,accommodates,bedrooms,beds,...,calculated_host_listings_count_shared_rooms,reviews_per_month,host_is_superhost2,host_identity_verified2,has_availability2,instant_bookable2,dmy_Hotel room,dmy_Private room,dmy_Shared room,Borough
0,35%,18%,8.0,8.0,Midtown,40.75356,-73.98559,1,NaN,1.0,...,0,0.33,0,1,1,0,0,0,0,Manhattan
1,21%,76%,1.0,1.0,Bedford-Stuyvesant,40.68494,-73.95765,3,1.0,3.0,...,0,4.91,0,1,1,0,0,0,0,Brooklyn
2,100%,100%,1.0,1.0,Bedford-Stuyvesant,40.68535,-73.95512,2,1.0,1.0,...,0,0.53,0,1,1,0,0,1,0,Brooklyn
3,100%,25%,1.0,1.0,Sunset Park,40.66265,-73.99454,4,2.0,2.0,...,0,0.02,0,1,1,0,0,0,0,Brooklyn
4,100%,100%,1.0,1.0,Midtown,40.76457,-73.98317,2,1.0,1.0,...,0,3.70,0,0,1,0,0,1,0,Manhattan

In [ ]:
abnb.to_csv()